{# layout.html.twig #}

{% extends 'base.html.twig' %}

{% block layout %}
    {% block mainNav %}
		<!-- block mainNav-->
		<nav class="main-nav navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ Wordpress.home_url() }}">
						<img src="{{ Wordpress.getPath('img') }}logo.png" alt="{{ Wordpress.bloginfo('title') }}" />
					</a>
				</div>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation">
					<span class="sr-only">{{ Wordpress.__('Toggle navigation') }}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

                {{ Wordpress.wp_nav_menu({
                    'theme_location': 'main_menu_1',
                    'menu_class' : 'nav navbar-nav',
                    'echo' : false,
                    'items_wrap' : '<ul id="%1$s" class="nav nav-pills %2$s">%3$s</ul>',
                }) | raw }}

			</div>
		</nav>
		<!-- /block mainNav-->
    {% endblock mainNav %}


	{% block header %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="jumbotron">
						<div class="page-header">
							<h1>Header</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock header %}
	

	{% block content %}
		<!-- block content -->

		<div class="page_background">
            <div class="container">
                <div class="row">

                    {% block asideLeft %}
                        {% if Wordpress.is_active_sidebar('sidebar-1') %}
                            <!-- block asideLeft  -->
                            <div class="col-md-3">
                                {% if Wordpress.is_active_sidebar('sidebar-1') %}
                                    <ul class="list-group">
                                        {{ Wordpress.dynamic_sidebar('sidebar-1') ? "" : "" }}
                                    </ul>
                                {% endif %}
                            </div>
                            <!-- /block asideLeft -->
                        {% endif %}
                    {% endblock asideLeft %}

                    {% if Wordpress.is_active_sidebar('sidebar-1') %}
                        {% set mainClass = 9 %}
                    {% else %}
                        {% set mainClass = 12 %}
                    {% endif %}

                    <div id="page" class="col-md-{{ mainClass }}">
                        <!-- block article-->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% block article %}{% endblock article %}
                            </div>
                        </div>
                        <!-- /block article -->
                    </div>

                    {% block asideRight %}
                        <!-- block asideRight -->
                        <!-- /block asideRight -->
                    {% endblock asideRight %}

                </div>
            </div>
		</div>
		<!-- /block content -->
	{% endblock content %}

	{% block footer %}
		<!-- block footer -->
		<div class="footer_background">
			<footer class="container">
				<div class="row">
					<div class="site-info col-xs-12 col-md-6 col-md-offset-6">
						<p><span class="pull-right">{{ Wordpress.__('Copyright by ') }}</span></p>
					</div>
				</div>
			</footer>
		</div>
		<!-- /block footer -->
	{% endblock footer %}

{% endblock layout %}